* {
    margin: 0;
    padding: 0;
}

div.flexContainer {
    display: flex;
    flex-direction: column;
    flex:1;

    height: 100vh;
    width: 100vw;
}

.header {
    display: flex;
    position: sticky;
    justify-content: left;
    align-items: center;
    padding: 2rem;
    height: 2.5rem;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

.buttonContainer {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

button:hover {
    transform: scale(1.1);
    transition: transform ease-out 250ms ease-in 250ms;
}

button.addBook {
    height: 6rem;
    width: 9rem;
    background: #c31;
    border: 1px solid grey;
    border-radius: 1rem;

}

button > img {
    width: 4rem;
}

#bookContainer {
    display: grid;
    padding: 15px;
    gap: 25px;
    width: 28rem;
    grid-template-rows: repeat(auto-fit, minmax(10rem, 13rem));
    grid-template-columns: repeat(auto-fit, minmax(10rem, 13rem));
}

.footer {
    margin-top: auto;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    font-weight: bold;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
}


.popup{
    background: rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

.popup-content{
    height: 400px;
    min-width: 300px;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    position: relative;
}

input:not(#read){
    margin: 20px auto;
    display: block;
    width: 50%;
    padding: 8px;
    border: 1px solid black;
    border-radius: 5px;
}

.close{
    position: absolute;
    top: 1px;
    right: 1px;
    margin: 5px;
    width: 30px;
    height: 20px;
    border-radius: 5px;
    background: black;
    color: white;
}

.submit{
    background-color: black;
    display:block;
    margin: 10px auto;
    margin-top: 35px;
    width: 100px;
    height: 30px;
    border-radius: 8px;
    box-shadow: 6px 6px 29px -2px rgba(0,0,0,0.75);
    color: white;
}

h1 {
    text-align: center;
}

div.readit {
    display:flex;
    justify-content: center;
    gap: 10px;
}

.error {
    height: 20px;
    padding: 5px;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    color: red;
}

.wrapper {
    display:flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}